# syntax: glob
.hgignore
*.asm
*.cod
*.bak
*.*~
*.orig
*.sjis
*.led
tags
*.dat
log.*
*.xml
*.lck
*.zip
*.pdf
*.o
*.exe
*.obj
*.tds
*.err
*.identcache
*.elf
*.lst
*.map
*.lss
*.lst2
*.org
GPATH
GRTAGS
GTAGS
tags
*.hex
*.list
*.bin
*.d
.sconsign.dblite
*.ld

#syntax: regexp
.hg/
__pycache__
libopencm3/
BINHEX/
Backup/
build/
.git/
.nimcache/
BUILD/
.BUILD/

